<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <title><h:outputText value="FacesFlow" /></title>
</h:head>

<h:body>
	<h:form>
		<h1>Persönliche Daten</h1>
		<h:panelGrid columns="2">
			<h:outputText value="Vorname:" />
			<h:inputText value="#{registrationView.firstName}" />
			<h:outputText value="Nachname:" />
			<h:inputText value="#{registrationView.lastName}" />
			<h:outputText value="Emailadresse:" />
			<h:inputText value="#{registrationView.emailAddress}" />
		</h:panelGrid>
		<h:commandButton value="Weiter" action="addressData" />
	</h:form> 
</h:body>
</html>
