<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<title>SpaceGame - Registrierung</title>
</h:head>

<h:body>
<f:view>
	<h:form id="frmRegistration">
		<h1>Registrierung</h1>
		<h:panelGrid columns="3">
			<f:validateRequired>
				<h:outputText value="Benutzername:" /> 
				<h:inputText value="#{registrationView.username}" id="txtUsername"
				    requiredMessage="Bitte geben Sie einen Benutzernamen ein!"
				    validatorMessage="Der Benutzername muss zwischen 3 und 10 Buchstaben haben!">
					<f:validateLength minimum="3" maximum="10" />
				</h:inputText>
				<h:message for="txtUsername" errorStyle="color:red;font-weight:bold;" />
				
				<h:outputText value="Passwort:" /> 
				<h:inputText value="#{registrationView.password}" id="txtPassword"
							 requiredMessage="Bitte geben Sie ein Passwort ein!"
							 validatorMessage="Das Passwort muss mindestens 8 Zeichen haben!">
					<f:validateLength minimum="8" />
				</h:inputText>
				<h:message for="txtPassword" errorStyle="color:red;font-weight:bold;" />
				
				<h:outputText value="Passwortbestätigung:" /> 
				<h:inputText value="#{registrationView.confirmedPassword}" 
							 id="txtConfirmedPassword"
							 requiredMessage="Bitte bestätigen Sie Ihr Passwort!" />
				<h:message for="txtConfirmedPassword" errorStyle="color:red;font-weight:bold;" />
				
				<h:outputText value="Emailadresse" /> 
				<h:inputText value="#{registrationView.emailaddress}" id="txtEmailaddress"
				requiredMessage="Bitte geben Sie eine Emailadresse ein!"
				validator="#{registrationView.validateEmailaddress}" />
				<h:message for="txtEmailaddress" errorStyle="color:red;font-weight:bold;" />
				
				<h:outputText value="Alter:" id="lblAge" /> 
				<h:inputText value="#{registrationView.age}" id="txtAge"
							 requiredMessage="Bitte geben Sie Ihr Alter ein!"
							 validatorMessage="Sie müssen zwischen 12 und 150 Jahre alt sein!"
							 converterMessage="Bitte geben Sie eine Zahl ein!">
					<f:validateLongRange minimum="12" maximum="150" />
				</h:inputText>
				<h:message for="txtAge" errorStyle="color:red;font-weight:bold;"
										infoStyle="color:blue;" />
			</f:validateRequired>
		</h:panelGrid>
		<p><h:commandButton value="Registrieren" />
		   <h:commandButton value="Abbrechen" 
							action="cancelled" />
		</p>
		<h:messages globalOnly="true" />
	</h:form>
</f:view>
</h:body>
</html>
