<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
 
    <head>
        <title>Bestätigungsemail</title>
    </head>
    <body>
        <h:form>
            <h1>Emailadresse bestätigen</h1>
            <p>Eine Email mit einem geheimen Schlüssel wurde 
               an diese Adresse gesendet: #{flowScope.email}</p>
            <p>Schlüssel eingeben: <h:inputText value="#{confirmationView.key}" /></p>
            <p><h:commandButton value="Weiter" action="#{confirmationView.checkKey}" /></p>
           </h:form>
    </body>
</html>