<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

	<composite:interface>
	  <composite:attribute name="model" required="true">
	    <composite:attribute name="collapsed" required="true"/>
	    <composite:attribute name="toggle" required="true"
	        method-signature="java.lang.String f()"/>
	  </composite:attribute>
	  
	  <composite:actionSource name="toggle"/>
	  <composite:facet name="header"/>
	</composite:interface>
	
	<composite:implementation>
	  <h:panelGroup layout="block"
	      styleClass="collapsiblePanel-header">
	    <h:commandButton id="toggle"
	        action="#{cc.attrs.model.toggle}"
	        styleClass="collapsiblePanel-img"
	        image="#{resource[cc.attrs.model.collapsed
	          ? 'mygourmet:toggle-plus.png'
	          : 'mygourmet:toggle-minus.png']}"/>
	    <composite:renderFacet name="header"/>
	  </h:panelGroup>
	  <h:panelGroup layout="block"
	      rendered="#{!cc.attrs.model.collapsed}">
	    <composite:insertChildren/>
	  </h:panelGroup>
	</composite:implementation>

</html>