<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

	<!-- Eine zusammengesetzte Komponente, die aus zwei Listen besteht. Mittels zweier Schaltflächen kann ein Listenelemente
	von der linken in die rechte Liste geschafft werden und umgekehrt. -->
	<composite:interface>
		<composite:attribute name="dualListHandler" required="true" />
	</composite:interface>
	
	<!-- Hier beginnt die Implementierung der Komponente. -->
	<composite:implementation>
	    <h:form>
	        <h:panelGrid columns="3">
	            <h:selectOneListbox id="availableItemsList" 
	            				value="#{cc.attrs.dualListHandler.selectedItem}">
	            	<f:selectItems value="#{cc.attrs.dualListHandler.availableItems}" />
	            </h:selectOneListbox>
	            
				<h:panelGrid column="1">
					<h:commandButton value="-&gt;" 
						actionListener="#{cc.attrs.dualListHandler.selectOneItem}"/>
					<h:commandButton value="&gt;&gt;" 
						actionListener="#{cc.attrs.dualListHandler.selectAllItems}"/>
					<h:commandButton value="&lt;-" 
						actionListener="#{cc.attrs.dualListHandler.deselectOneItem}"/>
					<h:commandButton value="&lt;&lt;" 
						actionListener="#{cc.attrs.dualListHandler.deselectAllItems}"/>
				</h:panelGrid>

	            <h:selectOneListbox id="selectedItemsList" 
	            		value="#{cc.attrs.dualListHandler.deselectedItem}">
	            	<f:selectItems value="#{cc.attrs.dualListHandler.selectedItems}"  />
	            </h:selectOneListbox>
	        </h:panelGrid>
	    </h:form>
	</composite:implementation>

</html>