<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

	<composite:interface>
	  <composite:attribute name="var"/>
	  <composite:attribute name="value"/>
	  <composite:facet name="header"/>
	  <composite:facet name="footer"/>
	</composite:interface>
	
	
	<composite:implementation>
	  <h:outputStylesheet name="/stylesheet.css" />
	  <h:dataTable id="table" value="#{cc.attrs.value}"
	      styleClass="datatable" headerClass=
	      "datatable-header" rowClasses=
	      "datatable-rownobg, datatable-rowbg"
	      columnClasses="datatable-cell">
	    <c:set target="#{component}" property="var"
	        value="#{cc.attrs.var}"/>
	    <composite:insertFacet name="header"/>
	    <composite:insertChildren/>
	    <composite:insertFacet name="footer"/>
	  </h:dataTable>
	</composite:implementation>

</html>