<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core">

	<composite:interface>
		<composite:attribute name="selectedPlanet" required="true" />
		<composite:attribute name="planets" required="true" />
		<composite:attribute name="listener" method-signature="void listener(javax.faces.event.AjaxBehaviorEvent)"  required="true" />
		<composite:attribute name="render" required="true" />
		<composite:attribute name="label" required="true" />
	</composite:interface>
	
	<composite:implementation>
	    <h:panelGrid rows="2">
			<h:outputText value="#{cc.attrs.label}" />
			<h:selectOneListbox value="#{cc.attrs.selectedPlanet}">
				<f:selectItems value="#{cc.attrs.planets}" 
							   var="planet"
							   itemLabel="#{planet.planetName}"
							   itemValue="#{planet.planetId}"/>
				<f:ajax render="@all" 
						listener="#{cc.attrs.listener}"/>
			</h:selectOneListbox>
		</h:panelGrid>	
	</composite:implementation>

</html>