<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

	<composite:interface>
	</composite:interface>
	
	<composite:implementation>
		<h:panelGrid columns="2">
			<h:outputText value="Gesamtpreis: " />
			<h:outputText value="#{cc.parent.attrs.price / 1}">
				<f:convertNumber type="currency" currencySymbol="€"
								 minFractionDigits="2" />
			</h:outputText>
			
			<h:outputText value="Anzahl Tage: " />
			<h:outputText value="#{cc.parent.attrs.days}" />
			
			<h:outputText value="Preis pro Tag: " />
			<h:outputText value="#{cc.parent.attrs.price / cc.parent.attrs.days}">
				<f:convertNumber type="currency" currencySymbol="€"
								 minFractionDigits="2" />
			</h:outputText> 
		</h:panelGrid>
	</composite:implementation>

</html>