<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"
      xmlns:o="http://xmlns.jcp.org/jsf/composite/olb">

	<composite:interface>
		<composite:attribute name="programmer" required="true" />
		<composite:attribute name="styleClass" default="red" />
	</composite:interface>
	
	<composite:implementation>
		Unser Programmierer:
		<ul class="#{cc.attrs.styleClass}">
			<li>Vorname: <h:outputText value="#{cc.attrs.programmer.firstName}" /></li>
			<li>Nachname: <h:outputText value="#{cc.attrs.programmer.lastName}" /></li>
			<li>Level: <h:outputText value="#{cc.attrs.programmer.level}" /></li>
			<li><o:programmingLanguageListComp favorite="Java" detested="VBA" /></li>
		</ul>
	</composite:implementation>
</html>