<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">

	<composite:interface>
		<composite:attribute name="favorite" required="true" />
		<composite:attribute name="detested" required="true" />
	</composite:interface>
	
	<composite:implementation>
		Er kennt folgende Sprachen:
		<ul>
			<ui:repeat var="listItem" value="#{cc.parent.attrs.programmer.languages}">
				<li><h:outputText value="#{listItem}" /></li>
			</ui:repeat>
			<li>Er liebt <h:outputText value="#{cc.attrs.favorite}" /></li>
			<li>Er hasst <h:outputText value="#{cc.attrs.detested}" /></li>
		</ul>
	</composite:implementation>
</html>