<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">

		<composite:interface>
			<composite:attribute name="value" required="true" />
			<composite:attribute name="fontColor" default="red" />
		</composite:interface>
		
		<composite:implementation>
			<div style="color: #{cc.attrs.fontColor}">
				<ul>
					<ui:repeat var="listItem" value="#{cc.attrs.value}">
						<li><h:outputText value="#{listItem}" /></li>
					</ui:repeat>
				</ul>
			</div>
		</composite:implementation>
</html>