<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <title><h:outputText value="CDI" /></title>
</h:head>

<h:body>
	<h:form>
		<p><h:commandLink action="registration" value="Zur Registrierung" /></p>
		<p><h:commandLink action="confirmation" value="Zur Emailbestätigung" /></p>
	</h:form>
</h:body>
</html>
