<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">

<head>
	<title>SpaceGame - Raumschiff kaufen</title>
</head>

<body>
	<f:view>
		<h:form>
			<h1>SpaceGame - Raumschiff kaufen für #{buyAStarshipView.planet}</h1>
			<p><h:outputText value="Anzahl" /> 
			<h:inputText value="#{buyAStarshipView.shipCount}" />
			<h:outputText value="Typ" /> 
			<h:selectOneMenu value="#{buyAStarshipView.starshipType}">
				<f:selectItem itemValue="TransportShip" 
							  itemLabel="Transportschiff" />
				<f:selectItem itemValue="Frigate" 
							  itemLabel="Fregatte" />
				<f:selectItem itemValue="SpyShip" 
							  itemLabel="Spionageschiff" />
			</h:selectOneMenu></p>
			<p><h:commandButton value="Kosten berechnen" 
						actionListener="#{buyAStarshipView.calculateCosts}" /></p>
			
			<h3>Kosten</h3>
			<ul>
				<li>
					Metall: <h:outputLabel value="#{buyAStarshipView.metalCosts}">
						<f:convertNumber pattern="###### 'Einheiten'"/>
					</h:outputLabel>
				</li>
				<li>Kristall: #{buyAStarshipView.crystalCosts}</li>
			</ul>
			
			<p><h:commandButton value="Kaufen" actionListener="#{buyAStarshipView.buyShips}" action="tacticalOverview" /></p>
			<p><h:commandLink value="Startseite" action="login"/></p>
		</h:form>
	</f:view>
</body>
</html>
