<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">

<head>
	<title>SpaceGame - Registrierung</title>
</head>

<body>
	<f:view>
		<h:form>
			<h1>SpaceGame - Registrierung</h1>
			<h:panelGrid columns="2">
				<h:outputText value="Benutzername" /> 
				<h:inputText value="#{registrationView.username}" />
				<h:outputText value="Passwort:" /> 
				<h:inputText value="#{registrationView.password}" />
				<h:outputText value="Passwort bestätigen:" /> 
				<h:inputText value="#{registrationView.confirmedPassword}" />
				<h:outputText value="Emailadresse:" /> 
				<h:inputText value="#{registrationView.emailaddress}" />
				<h:outputText value="Alter:" /> 
				<h:inputText value="#{registrationView.age}" />
			</h:panelGrid>
			<p><h:commandButton value="Registrieren" action="login" 
					actionListener="#{registrationView.onRegistrateNewUser}" /></p>
			<p><h:commandLink value="Startseite" action="login"/></p>
		</h:form>
	</f:view>
</body>
</html>
