<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		<title>Beispiel - CommandButton und CommandLink</title>
	</h:head>
	<h:body>
		<h:form>
			<h:outputLabel for="txtLastName" value="Ihr Nachname: " />
			<h:inputText id="txtLastName" value="#{demoCommand.lastname}" />
			<br />
			<h:commandLink value="Senden" />
 		</h:form>
		<h:form>
		    <h:outputLabel value="Vorname" for="txtFirstname" />
		    <h:inputText id="txtFirstname" value="#{demoCommand.firstname}" />
		    <br />
		    <h:outputText value="Jetzt bin ich sichtbar!"
		    			  rendered="#{demoCommand.firstnameExists}" />
		    <br />
		    <h:inputText value="#{demoCommand.outputTextDisabledText}"
		    			 disabled="#{!demoCommand.firstnameExists}" />
		    
		    <br />
		    <h:commandButton value="Noch mal senden"
		    				 actionListener="#{demoCommand.onClick}" />
		</h:form>		
	</h:body>
</html>