<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		<title>Beispiel - DataTable</title>
		<link href="style.css" rel="stylesheet" type="text/css"/>
	</h:head>
	<h:body>
		<h3>Beispiel - DataTable</h3>
		<hr />
		<h:form id="myForm">
			<h:dataTable value="#{demoDataTable.dataModel}"
						 var="country"
						 styleClass="tableBackground"
						 columnClasses="oddColumn, evenColumn, oddColumn, evenColumn"
						 rowClasses="oddRow, evenRow"
						 headerClass="tableHeader"
						 footerClass="tableFooter">
				<h:column>
					<f:facet name="header">
						<h:outputText value="ISO-Code" />
					</f:facet>
					<h:outputText value="#{country.isoCode}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Land" />
					</f:facet>
					<h:outputText value="#{country.countryName}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Einwohnerzahl" />
					</f:facet>
					<h:outputText value="#{country.population}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Liegt in Europa" />
					</f:facet>
					<h:selectBooleanCheckbox value="#{country.inEurope}"
										 	 disabled="true" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Flagge" />
					</f:facet>
					<h:graphicImage value="#{country.flag}" />
				</h:column>
				<h:column>
					<h:commandButton value="Ändern" action="updateCountry">
						<f:param name="countryCode" value="#{country.isoCode}" />
						<f:param name="countryName" value="#{country.countryName}" />
					</h:commandButton>
					<h:commandButton value="Löschen" actionListener="#{demoDataTable.deleteCountry}" />
				</h:column>
				<f:facet name="footer">
					<h:commandButton value="Neu" />
				</f:facet>
			</h:dataTable>
		</h:form>
		
		<h:outputFormat value="Sie haben das Element mit Index {0} angeklickt">
			<f:param value="#{demoDataTable.selectedIndex}" />
		</h:outputFormat>
	</h:body>
</html>