<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		<title>Beispiel - GraphicImage</title>
	</h:head>
	<h:body>
		<h3>Beispiel - GraphicImage</h3>
		<hr />					
		<h:graphicImage value="java.jpg"
					    alt="Die Java-Tasse halt" />
					    
		<h:form>
			<h:graphicImage value="#{demoGraphicImage.imagePath}"
							alt="#{demoGraphicImage.countryName}" />
			<br />
			<h:commandButton value="Fun with flags!"
							 actionListener="#{demoGraphicImage.onChangeFlag}" />
		</h:form>
	</h:body>
</html>