<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		<title>Beispiel - InputSecret</title>
	</h:head>
	<h:body>
		<h3>Beispiel - InputSecret</h3>
		<h4>Eingabe</h4>
		<hr />
			<h:form>
			    <h:outputLabel for="txtName">
			    	<h:outputText value="Name:" />
			    </h:outputLabel>
			    
			    <h:inputText id="txtName"
			                 value="#{demoInputSecret.nickname}" />
			    
			    <br />
			    
			    <h:outputLabel for="txtPassword" value="Passwort" />
			    <h:inputSecret id="txtPassword"
			    			   value="#{demoInputSecret.password}" 
			    			   redisplay="false" />          
			    <h:commandButton value="Testen" />
		</h:form>
		
		<h4>Ausgabe</h4>
		<h:outputText value="Ihr Name: #{demoInputSecret.nickname}" /> <br/>
		<h:outputText value="Ihr Passwort: #{demoInputSecret.password}" /> <br/>
	</h:body>
</html>