<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		<title>Beispiel - InputText</title>
	</h:head>
	<h:body>
		<h3>Beispiel - InputText</h3>
		<h4>Eingabe</h4>
		<hr />
			<h:form>
				<h:outputLabel for="txtName" value="Ihr Name" />
				<h:inputText id="txtName"
							 value="#{demoInputText.name}"
							 size="100" />
							 
				<br />
				<h:outputLabel value="disabled=true" for="txtDisabled" />
				<h:inputText disabled="true" value="#{demoInputText.name}" />
				
				<br />
				<h:outputLabel value="readonly=true" for="txtReadOnly" />
				<h:inputText readonly="true" id="txtReadOnly" value="#{demoInputText.name}" />
			    <h:commandButton value="Testen" />
			</h:form>
		<hr />
		<h4>Ausgabe</h4>
		<h:outputText value="Ihr Vorname: #{demoInputText.name}" /> <br/>
	</h:body>
</html>