<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
	<h:head>
		<title>Beispiel - OutputLabel</title>
	</h:head>
	<h:body>
		<h3>Beispiel - OutputLabel</h3>
		<hr />
		<h:form>
			<h:outputLabel for="txtFirstName">
				<h:outputText value="Ihr Vorname: " />
			</h:outputLabel>
			<h:inputText id="txtFirstName" value="#{demoOutputLabel.firstName}" />
			<br />
			<h:outputLabel value="Ihr Nachname: " for="txtLastName" />
			<h:inputText id="txtLastName" value="#{demoOutputLabel.lastName}" />
			<br />
			<h:commandButton value="Senden" />
		</h:form>
	</h:body>
</html>