<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		<title>Beispiel - OutputLink</title>
	</h:head>
	<h:body>
		<h3>Beispiel - OutputLink</h3>
		<hr />		
		<h:form>
			<h:outputLink value="http://www.ecosia.de">
				<h:outputText value="Eine Alternative zu Google" />
			</h:outputLink>
			<br />
			<h:outputLink value="#{demoOutputLink.website}">
				<h:outputText value="Internetseite von #{demoOutputLink.company}" />
			</h:outputLink>
			
			<br />
			<h:outputLink value="https://www.ecosia.org">
				<h:outputText value="Ecosia auf Französisch" />
				<f:param name="c" value="fr" />
			</h:outputLink>
			
			<br />
			<h:outputLink value="http://www.java.com/de">
				<h:graphicImage value="java.jpg" />
			</h:outputLink>
		</h:form>
	</h:body>
</html>