<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		<title>Beispiel - SelectMany</title>
	</h:head>
	<h:body>
		<h3>Beispiel - SelectMany</h3>
		<h4>Eingabe</h4>
		<hr />
		<h:form id="inputForm">
			<h:selectManyListbox value="#{demoSelectMany.selectedMovies}">
				<f:selectItems value="#{demoSelectMany.movieList}" />
			</h:selectManyListbox>
			<br />
			<h:selectManyMenu value="#{demoSelectMany.selectedFood}">
				<f:selectItems value="#{demoSelectMany.foodList}" />
			</h:selectManyMenu>
			<br />
			<h:selectManyCheckbox value="#{demoSelectMany.selectedSports}">
				<f:selectItem itemValue="Fechten" />
				<f:selectItem itemValue="Rudern" />
				<f:selectItem itemValue="Fahrrad fahren" />
			</h:selectManyCheckbox>
			<h:commandButton value="Testen" />
		</h:form>
		<hr />
		<h4>Ausgabe</h4>
		<h:outputText value="#{demoSelectMany.foodStrings}" /><br />
		<h:outputText value="#{demoSelectMany.movieStrings}" /><br />
		<h:outputText value="#{demoSelectMany.sportStrings}" /><br />
	</h:body>
</html>