<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		<title>Beispiel - SelectOne</title>
	</h:head>
	<h:body>
		<h3>Beispiel - SelectOne</h3>
		<h4>Eingabe</h4>
		<hr />
		<h:form id="inputForm">
			<h:selectOneListbox 
			      id="listboxCountries"
			      value="#{demoSelectOne.selectedCountry}">
				<f:selectItems value="#{demoSelectOne.countryList}" />
			</h:selectOneListbox>
			<br />
			<h:selectOneMenu 
			      id="menuLanguages"
			      value="#{demoSelectOne.selectedLanguage}">
				<f:selectItems value="#{demoSelectOne.languageList}"
											 var="language"
											 itemLabel="#{language.languageName}"
											 itemValue="#{language.languageCode}"				
				/>
			</h:selectOneMenu>
			
			<h:selectOneRadio 
			      id="radioGender"
			      value="#{demoSelectOne.selectedGender}">
				<f:selectItem itemLabel="männlich" itemValue="m"/>
				<f:selectItem itemLabel="weiblich" itemValue="f"/>
			</h:selectOneRadio>
			
			<h:commandButton value="Testen" />
		</h:form>
		<hr />
		<h4>Ausgabe</h4>
		<h:outputText value="#{demoSelectOne.selectedCountry}" /><br />
		<h:outputText value="#{demoSelectOne.selectedLanguage}" /><br />
		<h:outputText value="#{demoSelectOne.selectedGender}" /><br />
	</h:body>
</html>