<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		<title>Land ändern</title>
	</h:head>
	<h:body>
		<h3>Land ändern</h3>
		<hr />
		<h:form>
			<h:outputText value="Land: #{updateCountryView.countryName}" />
			<br />
			<h:outputLabel for="txtPopulation" value="Bevölkerung: "/>
			<h:inputText id="txtPopulation" value="#{updateCountryView.newPopulation}" />
			<br />
			<h:commandButton value="Senden" action="bspDataTable"
							 actionListener="#{updateCountryView.updatePopulation}" />
		</h:form>
	</h:body>
</html>
