<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<title>SpaceGame - Einloggen</title>
</h:head>

<h:body>
	<ui:composition template="template.xhtml">
		<ui:define name="pageTitle">
			<h1>#{labels.labelLogin}</h1>
		</ui:define>
	
		<ui:define name="game">
			<h:form>
				<f:event listener="#{loginView.initialize}" 
					 type="preRenderView" />
				
				<h:panelGrid columns="2">
					<h:outputText value="#{labels.labelUsername}" /> 
					<h:inputText value="#{loginView.username}" />
					<h:outputText value="#{labels.labelPassword}" /> 
					<h:inputText value="#{loginView.password}" />
				</h:panelGrid>
				<h:commandButton value="#{labels.buttonLogin}" 
								 action="#{loginView.login}" />
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>
