<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<title>SpaceGame - Name eines Raumschiffs ändern</title>
</h:head>

<h:body>
	<ui:composition template="template.xhtml">
		<ui:define name="pageTitle">
			<h1>
				<h:outputFormat value="#{labels.labelChangeStarshipName}">
					<f:param value="#{renameStarshipView.oldStarshipName}" />
				</h:outputFormat>
			</h1> 
		</ui:define>
		
		<ui:define name="game">	
		<h:form>
			<h:panelGrid columns="2">
				<h:outputLabel value="#{labels.labelNewStarshipName}" />
				<h:inputText value="#{renameStarshipView.starshipName}" />
			</h:panelGrid>
			<h:commandButton value="#{labels.buttonSave}" 
							 actionListener="#{renameStarshipView.renameStarship}" 
							 action="tacticalOverview" />
			<h:commandButton value="#{labels.buttonCancel}"
							 immediate="true" 
							 action="tacticalOverview" />
		</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>