<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<title>SpaceGame - Taktischer Überblick</title>
</h:head>

<h:body>
	<f:view>
		<ui:component>
			<p>Gewähltes Raumschiff:
			   <h:outputText value="#{starshipName} in Zeile 
			   		#{starshipIndex}" />
			</p>
		</ui:component>
	</f:view>
</h:body>
</html>
