<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<title>SpaceGame - Taktischer Überblick</title>
</h:head>

<h:body>
	<f:view>
		<ui:component>			
		<h:dataTable var="myStarship"
						 value="#{tactical.myStarships}"
						 id="tblStarships">
				<h:column>
					<f:facet name="header">
						<h:outputText value="#{labels.labelNumber}" /> 
					</f:facet>
					<h:outputText value="#{myStarship.starshipId}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="#{labels.labelStarshipName}" /> 
					</f:facet>
					<h:outputText value="#{myStarship.starshipName}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="#{labels.labelDamage}" /> 
					</f:facet>
					<h:outputText value="#{myStarship.damage / 100}">
						<f:convertNumber type="percent" />
					</h:outputText>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="#{labels.labelOnDuty}" /> 
					</f:facet>
					<h:selectBooleanCheckbox value="#{myStarship.active}" 
											 disabled="true"/>
				</h:column>
				<h:column>
					<h:commandButton value="#{labels.buttonChangeStarshipName}" action="renameStarship">
						<f:param name="oldStarshipName" value="#{myStarship.starshipName}" />
						<f:param name="starshipId" value="#{myStarship.starshipId}" />
					</h:commandButton>	
					<h:commandButton value="#{labels.buttonShow}" actionListener="#{tactical.showStarship}" />
					<ui:remove><h:commandButton value="Ausrüsten" rendered="#{myStarship['class'].simpleName 
							== 'FrigateHibernateImpl'}" />
					<h:commandButton value="Ausrüsten" 
									 rendered="#{myStarship.isFrigate()}" 
									 action="equipFrigate"
									 actionListener="#{tactical.selectStarship}" />	</ui:remove>			
				</h:column>
			</h:dataTable>	
		</ui:component>
	</f:view>
</h:body>
</html>
