<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">

<head>
	<title>SpaceGame - Taktischer Überblick</title>
</head>

<body>
	<f:view>
		<h:form>
			<f:event type="preRenderView" listener="#{tactical.initialize}" />
			<h1>Taktischer Überblick</h1>
			
			<p><h:outputText value="Meine Planeten: " />
			<h:selectOneMenu value="#{tactical.selectedPlanetId}"
							 valueChangeListener="#{tactical.changePlanet}"
							 id="slctPlanets">
				<f:selectItems value="#{tactical.myPlanets}"
							   var="myPlanet" 
							   itemValue="#{myPlanet.planetId}" 
							   itemLabel="#{myPlanet.planetName}" />
				
			</h:selectOneMenu>
			<br />
			<h:message for="slctPlanets" />
			<br />
			<h:commandButton value="Anzeigen" /></p>
			
			<h:dataTable var="myStarship"
						 value="#{tactical.myStarships}" >
				<h:column>
					<f:facet name="header">
						<h:outputText value="Nummer" /> 
					</f:facet>
					<h:outputText value="#{myStarship.starshipId}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Name" /> 
					</f:facet>
					<h:outputText value="#{myStarship.starshipName}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Schaden" /> 
					</f:facet>
					<h:outputText value="#{myStarship.damage}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Im Dienst" /> 
					</f:facet>
					<h:selectBooleanCheckbox value="#{myStarship.active}" 
											 disabled="true"/>
				</h:column>
				<h:column>
					<h:commandButton value="Name ändern" action="renameStarship">
						<f:param name="oldStarshipName" value="#{myStarship.starshipName}" />
						<f:param name="starshipId" value="#{myStarship.starshipId}" />
					</h:commandButton>	
					<h:commandButton value="Zeige" actionListener="#{tactical.showStarship}" />
					<ui:remove><h:commandButton value="Ausrüsten" rendered="#{myStarship['class'].simpleName 
							== 'FrigateHibernateImpl'}" />
					<h:commandButton value="Ausrüsten" 
									 rendered="#{myStarship.isFrigate()}" 
									 action="equipFrigate"
									 actionListener="#{tactical.selectStarship}" />	</ui:remove>			
				</h:column>
			</h:dataTable>
			
			<p><h:outputText value="#{tactical.currentStarship} in Zeile 
				#{tactical.currentStarshipIndex}" /></p>
			
			<p><h:commandButton value="Raumschiffe kaufen" action="buyAStarship" /> </p>
			<p><h:commandButton value="Angreifen" action="attackAPlanet">
				<f:param name="userId" value="#{tactical.user.userId}" />
			</h:commandButton> </p>
			<h:commandLink value="Startseite" action="login"/>
		</h:form>
	</f:view>
</body>
</html>
