<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<title>SpaceGame - Registrierung</title>
</h:head>

<h:body>
<f:view>
		<h:form style="float:left">
			<h:panelGrid columns="2">
				<h:outputLabel value="#{labels['labelChooseLanguage']}" />
				<h:selectOneMenu value="#{i18nBean.localeCode}"
								 valueChangeListener="#{i18nBean.onLocaleCodeChange}">
					<f:selectItems value="#{i18nBean.languages}" 
								   var="language"
								   itemValue="#{language.languageCode}" 
								   itemLabel="#{language.languageDescription}" />
				</h:selectOneMenu>
				<h:commandButton value="#{labels['buttonChangeLanguage']}" />
			</h:panelGrid>
			
			<!-- <p:splitButton icon="/static/icons/flag_germany.png">
				<p:menuitem icon="/static/icons/flag_great_britain.png" />
			</p:splitButton> -->
		</h:form>	
		<br />
		<br />

	<h:form id="frmRegistration">
		<h1>#{labels.labelRegistration}</h1>
		<h:panelGrid columns="3">
			<ui:remove><f:event type="javax.faces.event.PreValidateEvent"
				 listener="#{registrationView.preValidate}" /></ui:remove>   				
			<h:outputText value="#{labels.labelUsername}">
				<f:param value="param007" />>
			</h:outputText> 
			<h:inputText value="#{registrationView.username}" id="txtUsername"
						 validatorMessage="#{msg.usernameLengthError}"
						 requiredMessage="#{msg.usernameRequired}" 
						 required="true">
				<f:validateLength minimum="3" maximum="10" />
			</h:inputText>
			<h:message for="txtUsername" errorStyle="color:red;" />
			
			<h:outputText value="#{labels.labelPassword}:" /> 
			<h:inputText value="#{registrationView.password}" id="txtPassword"
						 validatorMessage="#{msg.passwordLengthError}"
						 requiredMessage="#{msg.passwordRequired}"
						 required="true">
				<f:validateLength minimum="8" />
				<f:event type="javax.faces.event.PostValidateEvent"
						 listener="#{registrationView.postValidatePassword}" />
			</h:inputText>				
			<h:message for="txtPassword" errorStyle="color:red;" />
			
			<h:outputText value="#{labels.labelConfirmPassword}:" /> 
			<h:inputText value="#{registrationView.confirmedPassword}" id="txtConfirmedPassword"
						 requiredMessage="#{msg.passwordConfirmationRequired}"
						 required="true">
				<f:validator validatorId="passwordConfirmationValidator" />
			</h:inputText>
			<h:message for="txtConfirmedPassword" errorStyle="color:red;" />
			
			<h:outputText value="#{labels.labelEmailaddress}" /> 
			<h:inputText value="#{registrationView.emailaddress}" id="txtEmailaddress"
						 validator="#{registrationView.validateEmailaddress}"
						 validatorMessage="#{msg.invalidEmailaddress}"
						 requiredMessage="#{msg.emailaddressRequired}"
						 required="true">
				<f:validator validatorId="htwEmailaddressValidator" />
			</h:inputText>
			<h:message for="txtEmailaddress" errorStyle="color:red;" />
			
			<h:outputText value="#{labels.labelAge}:" /> 
			<h:inputText value="#{registrationView.age}"
						 required="true" id="txtAge"
						 requiredMessage="#{msg.ageRequired}" 
						 converterMessage="#{msg.ageConverterError}"
						 validatorMessage="#{msg.ageInvalid}" >
				<f:validateLongRange minimum="12" maximum="150" />
			</h:inputText>
			<h:message for="txtAge" errorStyle="color:red;" />
			
		</h:panelGrid>
		<p><h:commandButton value="#{labels.buttonRegistration}" />
		   <h:commandButton value="#{labels.buttonCancel}" 
							action="cancelled" />
		</p>
		<h:messages globalOnly="true" errorStyle="color:red;"  />
	</h:form>
</f:view>
</h:body>
</html>
