<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<title>SpaceGame - Taktischer Überblick</title>
</h:head>

<body>
	<f:view>
		<h:form style="float:left">
			<h:panelGrid columns="2">
				<h:outputLabel value="#{labels['labelChooseLanguage']}" />
				<h:selectOneMenu value="#{i18nBean.localeCode}"
								 valueChangeListener="#{i18nBean.onLocaleCodeChange}">
					<f:selectItems value="#{i18nBean.languages}" 
								   var="language"
								   itemValue="#{language.languageCode}" 
								   itemLabel="#{language.languageDescription}" />
				</h:selectOneMenu>
				<h:commandButton value="#{labels['buttonChangeLanguage']}" />
			</h:panelGrid>
			
			<!-- <p:splitButton icon="/static/icons/flag_germany.png">
				<p:menuitem icon="/static/icons/flag_great_britain.png" />
			</p:splitButton> -->
		</h:form>	
		<br />
		<br />	
	
		<h:form>
			<f:event type="preRenderView" listener="#{tactical.initialize}" />
			<h1>Taktischer Überblick</h1>
			
			<p><h:outputText value="#{labels.labelMyPlanets}" />
			<h:selectOneMenu value="#{tactical.selectedPlanet}"
							 valueChangeListener="#{tactical.changePlanet}"
							 id="slctPlanets">
				<f:selectItems value="#{tactical.myPlanets}"
							   var="myPlanet" 
							   itemValue="#{myPlanet}" 
							   itemLabel="#{myPlanet.planetName}" />
				
			</h:selectOneMenu>
			<br />
			<h:message for="slctPlanets" />
			<br />
			<h:commandButton value="#{labels.buttonShow}" /></p>
			
			<h:dataTable var="myStarship"
						 value="#{tactical.myStarships}" >
				<h:column>
					<f:facet name="header">
						<h:outputText value="#{labels.labelNumber}" /> 
					</f:facet>
					<h:outputText value="#{myStarship.starshipId}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="#{labels.labelStarshipName}" /> 
					</f:facet>
					<h:outputText value="#{myStarship.starshipName}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="#{labels.labelDamage}" /> 
					</f:facet>
					<h:outputText value="#{myStarship.damage / 100}">
						<f:convertNumber type="percent" />
					</h:outputText>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="#{labels.labelOnDuty}" /> 
					</f:facet>
					<h:selectBooleanCheckbox value="#{myStarship.active}" 
											 disabled="true"/>
				</h:column>
				<h:column>
					<h:commandButton value="#{labels.buttonChangeStarshipName}" action="renameStarship">
						<f:param name="oldStarshipName" value="#{myStarship.starshipName}" />
						<f:param name="starshipId" value="#{myStarship.starshipId}" />
					</h:commandButton>	
					<h:commandButton value="#{labels.buttonShow}" actionListener="#{tactical.showStarship}" />
					<ui:remove><h:commandButton value="Ausrüsten" rendered="#{myStarship['class'].simpleName 
							== 'FrigateHibernateImpl'}" />
					<h:commandButton value="Ausrüsten" 
									 rendered="#{myStarship.isFrigate()}" 
									 action="equipFrigate"
									 actionListener="#{tactical.selectStarship}" />	</ui:remove>			
				</h:column>
			</h:dataTable>
			
			<p><h:outputText value="#{tactical.currentStarship} in Zeile 
				#{tactical.currentStarshipIndex}" /></p>
			
			<p><h:commandButton value="#{labels.buttonBuyStarships}" action="buyAStarship" /> </p>
			<p><h:commandButton value="#{labels.buttonAttack}" action="attackAPlanet">
				<f:param name="userId" value="#{tactical.user.userId}" />
			</h:commandButton> </p>
			<h:commandLink value="#{labels.buttonStartpage}" action="login"/>
			
			<h:messages globalOnly="true" 
					    showDetail="true" showSummary="false" />
		</h:form>
	</f:view>
</body>
</html>
