<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<title>Farb-Waehler</title>
</h:head>

<h:body>
	<f:view>
	 	<h:form id="form">
			<h:selectOneMenu value="#{colorBean.selectedColor}">
				<f:selectItem itemLabel="Rot" itemValue="red" />
				<f:selectItem itemLabel="Gelb" itemValue="yellow" />
				<f:selectItem itemLabel="Schwarz" itemValue="black" />
				<f:selectItem itemLabel="Blau" itemValue="blue" />
				<f:selectItem itemLabel="Grau" itemValue="grey" />
				<f:selectItem itemLabel="Grün" itemValue="green" />
				<f:ajax render="lblColor" />
			</h:selectOneMenu>
			<br />
			<h:outputLabel value="#{colorBean.color}" id="lblColor"
						   style="#{colorBean.colorStyle}" />
		</h:form>
	</f:view>
</h:body>
</html>
