<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<link rel="stylesheet" href="#{request.contextPath}/css/style.css" type="text/css" />
	<title>Langwieriges ValueChangeEvent</title>
</h:head>

<h:body>
	<f:view>
		<h:form id="form">
			<h:panelGrid columns="2">	
				<h:panelGrid columns="1">
					<h:selectOneMenu style="width: 100%" value="#{factorSumView.value}"
						valueChangeListener="#{factorSumView.onValueChanged}">
						<f:selectItems value="#{factorSumView.arguments}" />
					</h:selectOneMenu>
					<h:commandButton value="Berechne Teilersumme" />
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:inputTextarea cols="40" rows="1" value="#{factorSumView.factorSum}" 
						disabled="true"/>
				</h:panelGrid>
			</h:panelGrid>
			<h:messages showDetail="true" />
		</h:form>
	</f:view>
</h:body>
</html>
