<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		<title>Raumschiff umbenennen</title>
	</h:head>
	<h:body>
		<h3>Raumschiff umbenennen</h3>
		<h:form>
			<h:outputLabel value="Raumschiff #{renameStarshipView.oldStarshipName} umbennen: " />
			<h:inputText value="#{renameStarshipView.newStarshipName}" />
			<br />
			<h:commandButton value="Speichern" 
						     actionListener="#{renameStarshipView.renameStarship}" 
						     action="starshipTable" />
		</h:form>
	</h:body>
</html>