<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<title>SpaceGame - Name eines Raumschiffs ändern</title>
</h:head>

<h:body>
	<f:view>
		<h:form style="float:left">
			<h:panelGrid columns="2">
				<h:outputLabel value="#{labels['labelChooseLanguage']}" />
				<h:selectOneMenu value="#{i18nBean.localeCode}"
								 valueChangeListener="#{i18nBean.onLocaleCodeChange}">
					<f:selectItems value="#{i18nBean.languages}" 
								   var="language"
								   itemValue="#{language.languageCode}" 
								   itemLabel="#{language.languageDescription}" />
				</h:selectOneMenu>
				<h:commandButton value="#{labels['buttonChangeLanguage']}" />
			</h:panelGrid>
			
			<!-- <p:splitButton icon="/static/icons/flag_germany.png">
				<p:menuitem icon="/static/icons/flag_great_britain.png" />
			</p:splitButton> -->
		</h:form>	
		<br />
		<br />	
	
		<h:form>
			<h:panelGrid columns="2">
				<h:outputFormat value="#{labels.labelChangeStarshipName}">
					<f:param value="#{renameStarshipView.oldStarshipName}" />
				</h:outputFormat> 
				<h:inputText value="#{renameStarshipView.starshipName}" />
			</h:panelGrid>
			<h:commandButton value="#{labels.buttonSave}" 
							 actionListener="#{renameStarshipView.renameStarship}" 
							 action="tacticalOverview" />
			<h:commandButton value="#{labels.buttonCancel}"
							 immediate="true" 
							 action="tacticalOverview" />
		</h:form>
	</f:view>
</h:body>
</html>