<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">

<head>
	<title>SpaceGame - Ihr Konto wurde gesperrt!</title>
</head>

<body>
	<f:view>
		<h:form>
			<h1>Sie haben das Passwort drei mal falsch eingegeben!</h1>
			<h2>Ihr Konto wurde gesperrt! Bitte wenden Sie sich an den Administrator!</h2>
			<h:commandLink value="Startseite" action="toLogin"/>
		</h:form>
	</f:view>
</body>
</html>
