<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<title>SpaceGame - Raumschiff kaufen</title>
</h:head>

<body>
		<ui:composition template="template.xhtml">
		<ui:define name="pageTitle">
			<h1>#{labels.labelBuyStarshipFor} #{buyAStarshipView.planet}</h1>
		</ui:define>
		
		<ui:define name="game">
		<h:form>
			
			<p><h:outputText value="#{labels.labelStarshipCount}" /> 
			<h:inputText value="#{buyAStarshipView.shipCount}" 
						 id="txtShipCount">
				<f:ajax listener="#{buyAStarshipView.calculateCosts}" 
						event="keyup" 
						render="pnlCosts"/>
			</h:inputText>
			<h:outputText value="#{labels.labelStarshipType}" /> 
			<h:selectOneMenu value="#{buyAStarshipView.starshipType}">
				<f:selectItem itemValue="TransportShip" 
							  itemLabel="Transportschiff" />
				<f:selectItem itemValue="Frigate" 
							  itemLabel="Fregatte" />
				<f:selectItem itemValue="SpyShip" 
							  itemLabel="Spionageschiff" />
				<f:ajax listener="#{buyAStarshipView.calculateCosts}" 
						render="pnlCosts imgStarshipType"/>
			</h:selectOneMenu></p>
			
			<h:graphicImage width="40%" 
			    library="images" 
			    name="#{buyAStarshipView.starshipType}.jpg"
			    id="imgStarshipType"/>			
			
			<h3>#{labels.labelCosts}</h3>
			<h:panelGroup id="pnlCosts">
				<ul>
					<li>
						#{labels.labelMetal} <h:outputLabel value="#{buyAStarshipView.metalCosts}">
							<f:convertNumber pattern="###### 'Einheiten'"/>
						</h:outputLabel>
						<h:graphicImage library="images" 
										name="metal.jpg" 
										width="10%"/>
					</li>
					<li>
						#{labels.labelCrystal} <h:outputLabel value="#{buyAStarshipView.crystalCosts}">
							<f:convertNumber pattern="###### 'Einheiten'"/>
						</h:outputLabel>
						<h:graphicImage library="images" 
										name="crystal.jpg" 
										width="10%"/>
					</li>
				</ul>
			</h:panelGroup>
			<p><h:commandButton value="#{labels.buttonBuy}" 
								actionListener="#{buyAStarshipView.buyShips}" 
								action="tacticalOverview" /></p>
		</h:form>
		</ui:define>
		</ui:composition>
</body>
</html>
