<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:stl="http://java.sun.com/jsf/composite/stl">

<head>
	<title>STL - Impressum</title>
</head>

<body>
	<f:view>
		<h3>Komponente impressumComp</h3>
		<stl:impressumComp />
		<h3>Komponente impressumCompColored mit fontColor="red"</h3>
		<stl:impressumCompColored fontColor="red" />
		<h3>Komponente impressumCompColored ohne Angabe eines Attributwertes. Somit wird der Standardwert fontColor="blue" angenommen</h3>
		<stl:impressumCompColored  />
	</f:view>
</body>
</html>
