<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:o="http://xmlns.jcp.org/jsf/composite/olb">

<h:head>
	<title>SpaceGame</title>
</h:head>

<h:body>
		<h:form style="float:left">
			<o:languageSelectionComp i18nBean="{i18nBean}" />
			<h:commandLink value="#{labels.buttonFadeOut}" 
						   actionListener="#{i18nBean.onFadeOutClicked}"/>
		</h:form>	
</h:body>
</html>
