<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:stl="http://java.sun.com/jsf/composite/stl">

<h:head>
	<title>SpaceGame - Datenschutzerklärung</title>
</h:head>

<h:body>
	<ui:composition template="template.xhtml">
		<ui:define name="pageTitle">
			<h1>#{labels.labelPrivacy}</h1>
		</ui:define>
		
		<ui:define name="game">
			<h1>Vergessen Sie den Datenschutz. Essen Sie lieber Obst!</h1>
			<stl:dualListComp dualListHandler="#{dualListHandler}"
				  id="fruitDualList" />
		</ui:define>
	</ui:composition>
</h:body>
</html>
