<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		<title>Sehenswürdigkeit mit EL</title>
	</h:head>
	<h:body>
		<h1>Sehenswürdigkeit mit Expression Language</h1>
		<h2>Lesezugriff</h2>
		<h:form>
			<h:panelGrid columns="1">
				<h:outputText value="Die Id der Sehenswürdigkeit: 
									 #{editSightView.sightId}" /> <br />
				<h:outputText value="#{editSightView.sightName}" /> <br />
				<h:outputText value="#{editSightView['entranceFee']}" /> <br />
				<h:outputText value="#{editSightView.city.cityName}" /> <br /> <br />
				<h:outputText value="Netto-Eintrittspreis: #{editSightView.entranceFee 
									- editSightView.entranceFee / 19}" /> <br />
				
				<h:outputText value="Eintritt ist #{editSightView.entranceFee 
									> 0 ? 'nicht kostenlos': 'kostenlos'}" /> <br />
									
				<h:outputText value="Erhöhter Preis: 
									#{editSightView.incrementEntranceFeeBy(3)}" /> <br />	
				<h:outputText value="Veränderter Preis: 
									#{editSightView.incrementAndDecrementEntranceFeeBy(3, 6)}" /> <br />		
									
				<h:outputText value="Preis mit Java gelesen: #{editSightView.entranceFeeJava}" />				
									
				<h2>Jetzt ändern wir die Sehenswürdigkeit</h2>
				<h:inputText value="#{editSightView.sightId}" /> <br />
				<h:inputText value="#{editSightView.sightName}" /> <br />
				<h:inputText value="#{editSightView.entranceFee}" /> <br /> <br />
				<h:inputText value="#{editSightView.city.cityName}" /> <br /> <br />
				<h:commandButton value="Ändern" />
				
				<h2>Nur aus Demonstrationszwecken</h2>
				<h:outputText value="#{editSightView.array[0]}" /> <br />
				<h:outputText value="#{editSightView.map['zwei']}" /> <br />
				<h:outputText value="#{editSightView.map[editSightView.array[2]]}" /> <br />
				<h:outputText value="#{editSightView.map[editSightView.array[2]]}" /> <br />
			</h:panelGrid> 
		</h:form>
	</h:body>
</html>