<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<title>SpaceGame - Einloggen</title>
</h:head>

<h:body>
	<f:view>
		<h:form>
			<h1>SpaceGame Login</h1>
			<h:panelGrid columns="2">
				<h:outputText value="Benutzername" /> 
				<h:inputText value="#{loginView.username}" />
				<h:outputText value="Passwort" /> 
				<h:inputText value="#{loginView.password}" />
			</h:panelGrid>
			<h:commandButton value="Anmelden" />
		</h:form>
	</f:view>
</h:body>
</html>