<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		<title>Gueltigkeitsbereiche</title>
	</h:head>
	<h:body>
		<h:form>
			<h:panelGrid columns="2">
				<h:outputLabel value="Name: " />
				<h:inputText value="#{loginBeanNone.name}" />
				<h:outputLabel value="Passwort: " />
				<h:inputText value="#{loginBeanNone.password}" />
			</h:panelGrid>
			<br />
			<h:commandButton value="none" />
		</h:form>
				
		<h:outputLabel value="#{loginBeanNone.name}" /> <br />
		<h:outputLabel value="#{loginBeanNone.password}" />
		
		<h:form>
			<h:commandButton value="Aktualisiere" />
		</h:form>			
	</h:body>
</html>