<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">

<head>
	<title>FlashScope Demo</title>
</head>
<body>
	<f:view>
		<h:form>
			<h1>FlashScope Demo</h1>
			<h:outputText value="Sei gegruesst #{greetingView.userName} mit einer ManagedBean" /> 
			<p><h:commandLink value="Zur Startseite" action="login"/></p>
			<p><h:commandLink value="Zurück" action="flashScopeStart"/></p>
		</h:form>
	</f:view>
</body>
</html>
