<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">

<head>
	<title>SpaceGame - Einloggen</title>
</head>

<body>
	<f:view>
		<h:form>
			<h1>Login SpaceGame</h1>
			<h:panelGrid columns="2">
				<h:outputText value="Benutzername" /> 
				<h:inputText value="#{loginView.username}" />
				<h:outputText value="Passwort" /> 
				<h:inputText value="#{loginView.password}" />
			</h:panelGrid>
			<h:commandButton value="Anmelden" action="#{loginView.login}" />
		</h:form>
		
		<h:form>
			<h:commandLink action="impressum?faces-redirect=true" value="Impressum"/><br />
			<h:commandLink action="#{loginView.toRegistration}" value="Registrierung" /> <br />
		</h:form>
	</f:view>
</body>
</html>
