<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:stl="http://java.sun.com/jsf/composite/stl">

<h:head>
	<title>STL - Menü</title>
	<h:outputStylesheet name="stylesheet.css" />
</h:head>

<h:body>
	<h:form>
		<f:view>
			<stl:collapsePanel model="#{customerBean}">
			  <f:facet name="header"><h3>Information</h3></f:facet>
			  Diese Information ist klappbar.<br/>
			  Diese Information ist klappbar.
			</stl:collapsePanel>
		</f:view>
	</h:form>
</h:body>
</html>
