<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:stl="http://java.sun.com/jsf/composite/stl">

<f:view>
	<h:head>
		<title>STL - Menü</title>
		<h:outputStylesheet name="stylesheet.css" />
	</h:head>
	
	<h:body>
		<h:form>
	        <stl:myDataTable id="heroTable" var="hero" 
	        				 value="#{dataTableBean.heroList}">
	            <h:column>
	                <f:facet name="header">
	                    <h:outputText value="Name"/>
	                </f:facet>
					<h:outputText value="#{hero.name}" />	                
	            </h:column>
	            <h:column>
	                <f:facet name="header">
	                    <h:outputText value="Geburtsjahr"/>
	                </f:facet>
					<h:outputText value="#{hero.yearOfBirth}" />	                
	            </h:column>
	 	            <h:column>
	                <f:facet name="header">
	                    <h:outputText value="Todesjahr"/>
	                </f:facet>
					<h:outputText value="#{hero.yearOfDeath}" />	                
	            </h:column>
	        </stl:myDataTable>
		</h:form>
	</h:body>
</f:view>
</html>
