<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:o="http://xmlns.jcp.org/jsf/composite/olb">

<head>
	<title>STL - Impressum</title>
</head>

<body>
	<f:view>
		<h3>Komponente impressumComp</h3>
		<o:impressumComp />
		
		<h3>Komponente impressumCompColored</h3>
		<o:impressumCompColored fontColor="yellow" />
		<o:impressumCompColored fontColor="green" />
		<o:impressumCompColored />
	</f:view>
</body>
</html>
