<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:stl="http://stl.htwsaar.de/components">

<h:head>
	<title>STL - InputSpinner</title>
</h:head>

<h:body>
	<f:view>
		<h:form>
			<h1>Teste den InputSpinner</h1>
			<stl:stlInputSpinner />
			<h:messages />
		</h:form>
	</f:view>
</h:body>
</html>
