<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:o="http://xmlns.jcp.org/jsf/composite/olb">

<head>
	<title>Komponente mit Aufz&auml;hlungsliste</title>
</head>

<body>
	<f:view>
		<f:event type="preRenderView" listener="#{programmerListView.initialize}" />
		<h1>Unsere Top-Programmierer</h1>
		<o:unorderedListComp value="#{programmerListView.programmerList}" 
							 fontColor="blue" />
		<o:unorderedListComp value="#{programmerListView.programmerList}" />							 					 							 
	</f:view>
</body>
</html>
