<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">

<head>
	<title>Ein kleiner Taschenrechner</title>
</head>

<body>
	<f:view>
		<h:form>
			<h:outputText value="Bitte Zahlen eingeben: " />
			<br />
			<h:inputText value="#{calculatorBean.number1}" />
			
			<h:selectOneMenu value="#{calculatorBean.operator}">
				<f:selectItem itemLabel="+" itemValue="+" />
				<f:selectItem itemLabel="-" itemValue="-" />
				<f:selectItem itemLabel="*" itemValue="*" />
				<f:selectItem itemLabel="/" itemValue="/" />
			</h:selectOneMenu>
			
			<h:inputText value="#{calculatorBean.number2}" />
			
			<h:outputText value="= #{calculatorBean.result}" />
			<br />
			<h:commandButton value="Rechne" actionListener="#{calculatorBean.calculate}" />
		</h:form>
	</f:view>
</body>
</html>