<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">
      

<head>
	<link rel="stylesheet" href="#{request.contextPath}/css/style.css" type="text/css" />
	<title>Der NumberConverter</title>
</head>
<h:body>
<f:view>
	<h:form>
		<h1>Lokalisierung</h1>			
		<table border="1">
			<tr><th>deutsch</th><th>amerikanisch</th></tr>
			<tr>
				<td>
					<h:outputText value="#{numberBean.value}">
						<f:convertNumber locale="de" />
					</h:outputText>
				</td>
				<td>
					<h:outputText value="#{numberBean.value}">
						<f:convertNumber locale="en_US" />
					</h:outputText>
				</td>															
			</tr>
		</table>
		
		<h1>Attribut type</h1>			
		<table border="1">
			<tr><th>number</th><th>percent</th><th>Geld</th></tr>
			<tr>
				<td>
					<h:outputText value="#{numberBean.value}">
						<f:convertNumber type="number" />
					</h:outputText>
				</td>
				<td>
					<h:outputText value="#{numberBean.value}">
						<f:convertNumber type="percent" />
					</h:outputText>				
				</td>
				<td>
					<h:outputText value="#{numberBean.value}">
						<f:convertNumber type="currency" locale="en_US" />
					</h:outputText>				
				</td>																								
			</tr>
		</table>
		
		<h1>Geld macht immer Spaß</h1>			
		<table border="1">
			<tr><th>EUR</th><th>€</th><th>XXX</th><th>$</th></tr>
			<tr>
				<td>
					<h:outputText value="#{numberBean.value}">
						<f:convertNumber type="currency" currencyCode="EUR" />
					</h:outputText>					
				</td>
				<td>
					<h:outputText value="#{numberBean.value}">
						<f:convertNumber type="currency" currencySymbol="€" />
					</h:outputText>					
				</td>
				<td>
					<h:outputText value="#{numberBean.value}">
						<f:convertNumber type="currency" currencyCode="XXX" locale="en_US" />
					</h:outputText>					
				</td>	
				<td>
					<h:outputText value="#{numberBean.value}">
						<f:convertNumber type="currency" currencySymbol="$" />
					</h:outputText>					
				</td>																											
			</tr>
		</table>		
	
		<h1>Attribut pattern</h1>			
		<table border="1">
			<tr><th>###,###.##</th><th>######## 'm'</th><th>00000000 'm'</th>
				<th>pattern="####0000</th></tr>
			<tr>
				<td>
					<h:outputText value="#{numberBean.doubleValue}">
						<f:convertNumber pattern="###,###.##" />
					</h:outputText>								
				</td>
				<td>
					<h:outputText value="#{numberBean.doubleValue}">
						<f:convertNumber pattern="######## 'm'" />
					</h:outputText>					
				</td>
				<td>
					<h:outputText value="#{numberBean.doubleValue}">
						<f:convertNumber pattern="00000000 'm'" />
					</h:outputText>					
				</td>	
				<td>
					<h:outputText value="#{numberBean.doubleValue}">
						<f:convertNumber pattern="####0000" />
					</h:outputText>					
				</td>																											
			</tr>
		</table>			
		
		<h1>Konvertierung bei Eingabe</h1>
		<p>Mit welcher Geschwindigkeit möchten Sie fliegen? </p>
		<h:inputText value="#{numberBean.inputValue}">
			<f:convertNumber pattern="######## 'km / s'" />
		</h:inputText>
		<h:commandButton value="ok" />
		
		<br />
		<h:outputLabel value="#{numberBean.inputValue}">
			<f:convertNumber pattern="######## 'km / s'" />
		</h:outputLabel>
		
				<br />
		<h:outputLabel value="#{numberBean.inputValue}">
			<f:convertNumber pattern="########" />
		</h:outputLabel>
	</h:form>
</f:view>
</h:body>
</html>